
/* Your CSS Code here. */
header{
   background-color: #121216;
   text-align: center;
   justify-content: center;
   color: white;
   height: 70px;
   padding-top: 10px;
}
.row1{
    justify-content: space-between;
    margin-top: 40px;
}
#nav-actor{
    background-color:#dcdde1; 
    font-size: 22px;
    text-align: center;
    border-radius: 5px;
}
#nav-quote{
    background-color:aqua;
    font-size: 22px;
    text-align: center;
    border-radius: 5px;
}
summary{
    margin-left: 80px;
    margin-top: 50px;
}
#actor{
    margin-left: 80px;
    margin-top: 50px;
    background: #dcdde1;
}

.a{
    margin-top: 50px;
    margin-left: 80px;

}
aside{
    float: right;
    margin-right: 40px;
    margin-top: 50px;
    font-size: 20px;
    color: white;
}
.footer{
    background: #000;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height:190px;
    color: white;

}